



.btn1 {
  background-color:#f44336; 
  color:white; 
  border: 15px #f44336;
  border-radius: 100%;
  border-style: solid;
  width: 180px;
  height: 180px;
  font-size: 28px;
  margin: 4px 30px;
  
}

.btn1:hover {
  background-color: white;
  color:black;
}

.btn2 {
  background-color: #ff2970; 
  color:white; 
  border: 15px solid #ff2970;
  border-radius: 100%;
  width: 180px;
  height: 180px;
  font-size: 28px;
  margin: 4px 30px;
}

.btn2:hover {
  background-color: white;
  color:black;
}

.btn3 {
  background-color: #0081a8; 
  color: white; 
  border: 15px solid #0081a8;
  border-radius: 100%;
  width: 180px;
  height: 180px;
  font-size: 28px;
  margin: 4px 30px;
}

.btn3:hover {
  background-color: white;
  color: black;
}

.btn4 {
  background-color: rgb(180, 3, 180);
  color: white;
  border: 15px solid rgb(180, 3, 180);
  border-radius: 100%;
  width: 180px;
  height: 180px;
  font-size: 28px;
  margin: 4px 30px;
}

.btn4:hover {
    background-color:white;
    color: black;
    }
.btn5{
    background-color: #161616;
    color: white;
    border: solid 2px black;

}
.btn5:hover{
    background-color: white;
    color: black;
}
.container-fluid3{
    background-color:rgb(233, 231, 227);
    height: 430px;
    width: 81%;
    margin-left: 160px;
}
.head1, .head2{
    font-weight: bold;
}
#col{
  margin-left: 200px;
}
.begin{
  background-color: #161616;
  color: white;
  border: solid 2px black;
  margin: 10px 0px 0px 20px;
}
.begin:hover{
    background-color: white;
    color: black;
}
.begin2{
  background-color: #161616;
  color: white;
  border: solid 2px black;
  margin: 10px 0px 0px 30px;
}
.begin2:hover{
    background-color: white;
    color: black;
}
.begin3{
  background-color: #161616;
  color: white;
  border: solid 2px black;
  margin: 10px 0px 0px 30px;
}
.begin3:hover{
    background-color: white;
    color: black;
}
.begin4{
  background-color: #161616;
  color: white;
  border: solid 2px black;
  margin: 10px 0px 0px 30px;
}
.begin4:hover{
    background-color: white;
    color: black;
}
.btn6{
  background-color: #39b439;
  color: #ffffff;
  border: solid 2px #39b439;
  margin: 0px 0px 0px 20px;
}
.btn6:hover{
  background-color: #ffffff;
  color: #000000;
}
.register{
  background-color:#D1D7DC;
}
.span{
  text-align: center;
}
.badge{
  background-color: black;
  color: #ffffff;
  border-radius: 100%;
  font-size: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin: 0px 0px 10px 0px;
}
.question{
  font-size: 20px;
  margin: 0px 0px 0px 10px;
}
.custom-control{
    border: 1px solid #9e9e9e;
    border-radius: 8px;
    background: #fafafa;
    padding: 16px 8px 16px 48px;
    font-weight: normal;
    float: none;
    max-width: 436px;
    box-sizing: border-box;
    width: auto;
    text-align: left;
}


.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
          order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px 0px 0px 20em;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif;
  margin:30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}
.score{
  font-size: 26px;
  font-weight: bold;
  margin: 0px 0px 0px 480px;
}
#sub-btn{
  margin: 0px 0px 0px 550px;
}